<article>
  <img
    class="listing-photo"
    [src]="housingLocation?.photo"
    alt="Exterior photo of {{ housingLocation?.name }}"
    crossorigin
  />
  <section class="listing-description">
    <h2 class="listing-heading">{{ housingLocation?.name }}</h2>
    <p class="listing-location">
      {{ housingLocation?.city }}, {{ housingLocation?.state }}
    </p>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">About this housing location</h2>
    <ul>
      <li>Units available: {{ housingLocation?.availableUnits }}</li>
      @if(housingLocation?.wifi === true) {
      <li>Does this location have wifi: Yes</li>
      } @else {
      <li>Does this location have wifi: No</li>
      } @if(housingLocation?.laundry === true) {
      <li>Does this location have laundry: Yes</li>
      } @else {
      <li>Does this location have laundry: No</li>
      }
    </ul>
  </section>
  <section class="listing-apply">
    <h2 class="section-heading">Apply now to live here</h2>
    <p>To apply for this housing location, please fill out the form below.</p>

    <form
      class="mt-2 mb-2"
      [formGroup]="applyForm"
      (submit)="submitApplication()"
      action=""
      method=""
    >
      <label for="first-name">First Name:</label>
      <input
        type="text"
        id="first-name"
        name="first-name"
        placeholder="First Name"
        required
        formControlName="firstName"
      />
      <label for="last-name">Last Name:</label>
      <input
        type="text"
        id="last-name"
        name="last-name"
        placeholder="Last Name"
        required
        formControlName="lastName"
      />
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        required
        formControlName="email"
      />
      <button type="submit">Apply now</button>
    </form>
  </section>
</article>
