<section class="form">
  <h3 class="title">Find your home</h3>
  <form>
    <input type="text" id="search" placeholder="Filter by city" #filter />
    <button type="button" (click)="filterResults(filter.value)" class="ml-1">
      Search
    </button>
    <button type="button" (click)="clearFilter()" class="btn-clear ml-1">
      Clear
    </button>
  </form>
  @if(filteredLocationList.length > 0) {
  <p>Available rentals: {{ filteredLocationList.length }}</p>
  } @else {
  <p>No locations found</p>
  }
</section>
<section class="results-container">
  <div class="results">
    @for(housingLocation of filteredLocationList; track housingLocation.id) {
    <app-housing-location
      [housingLocation]="housingLocation"
    ></app-housing-location>
    }
  </div>
</section>
