<section class="main">
  <h2>Location Management</h2>
  <p class="mb-1 bold">Total Locations: {{ count }}</p>
  <div class="add-item">
    <a class="add-location" routerLink="/locations/create">
      Add New Location
    </a>
  </div>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Location Name</th>
          <th>City</th>
          <th>State</th>
          <th>Available Units</th>
          <th>Wi-fi</th>
          <th>Laundry</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let location of housingLocationList">
          <td>{{ location.id }}</td>
          <td>{{ location.name }}</td>
          <td>{{ location.city }}</td>
          <td>{{ location.state }}</td>
          <td>{{ location.availableUnits }}</td>
          <td>
            @if(location.wifi === true) {
            <span>Yes</span>
            } @else {
            <span>No</span>
            }
          </td>
          <td>
            @if(location.laundry === true) {
            <span>Yes</span>
            } @else {
            <span>No</span>
            }
          </td>
          <td>
            <a
              [routerLink]="['/details', location.id]"
              [routerLinkActive]="'active'"
            >
              Details
            </a>
            <a
              [routerLink]="['/update', location.id]"
              [routerLinkActive]="'active'"
            >
              Update
            </a>
            <a href="" (click)="delete(location.id); $event.preventDefault()">
              Delete
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
