@charset "utf-8";
@import "../../../styles.css";

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: calc(100vh - 9rem);
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 9rem;
}

.form {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  background-color: white;
}

.results-container {
  display: block;
  padding: 0 3rem 2rem;
  width: 100%;
  background-color: white;
  overflow: auto;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 400px));
  gap: 14px;
  justify-content: space-between;
}

input[type="text"] {
  border: solid 1px var(--electric-violet);
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}

button {
  padding: 10px;
  border: solid 1px var(--electric-violet);
  background: var(--electric-violet);
  color: white;
  border-radius: 8px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
    width: 70%;
  }
}

@media (max-width: 499px) {
  .results {
    grid-template-columns: 1fr;
  }
}
